* {
  margin: 0;
  padding: 0;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  background-image: url("./image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.div-header {
  max-width: 1440px;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.div-logo {
  margin-top: 55px;
  margin-left: 30px;
  padding: 10px;
}
.menu-bar {
  display: none;
}
.nav-header {
  margin-top: 50px;
  float: right;
  margin-right: 30px;
}
.nav-header ul {
  list-style: none;
  overflow: hidden;
}
.nav-header ul li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.nav-header ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 860px) {
  .div-logo {
    display: inline-block;
    width: 35px;
  }
  .nav-header {
    display: none;
  }
  .menu-bar {
    display: inline-block;
    margin-top: 65px;
    margin-right: 30px;
  }
  .menu-bar img{
    width: 40px;
  }
}

