@import url('//fonts.googleapis.com/css?family=Alata:400');
@import url('//fonts.googleapis.com/css?family=Josefin+Sans:300');

:root {
    --width-desktop: 1440px;
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-dark-gray: hsl(0, 0%, 55%);
    --color-very-dark-gray: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1440px;
    margin: auto;
}

.main__sec2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.sec2__text {

    max-width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.sec2__text h1 {
    font-size: 30px;
    font-weight: 100;
    color: var(--color-black)
}

.button {
    background-color: var(--color-white);
    border-radius: 2px;
    color: var(--color-black);
    padding: 0px 25px;
    height: 25px;
    letter-spacing: 2px;
}


.sec2__img {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.img__div {
    position: relative;
}

.img__div .text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 25px;
    font-weight: 100;
    -webkit-text-stroke: var(--color-black) .5px;
    letter-spacing: 4px;
    color: var(--color-white);
    font-family: 'Alata', 'Josefin Sans';
}